<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">{{'login.welcome' | translate}}</h3>
            Overwatch
            <h5 class="hint">{{'login.credentials' | translate}}</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">{{'login.username' | translate}}</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="username" required />
                <clr-control-error>{{'login.usernameError' | translate}}</clr-control-error>
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">{{'login.password' | translate}}</label>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="password" required />
                <clr-control-error>{{'login.needPassword' | translate}}</clr-control-error>
            </clr-password-container>
            <button type="submit" class="btn btn-primary" (click)="login()">NEXT</button>
        </div>
    </form>
</div>