

<clr-modal [(clrModalOpen)]="isOpen">
    <h3 class="modal-title">{{'anomaly.create.title' | translate}}</h3>
    <div class="modal-body">
        <!-- My Create Anomaly Form-->
        <form clrForm [formGroup]="anomalyForm" >
            <clr-input-container>
                <label>x</label>
                <input id="x-form" formControlName="x" clrInput type="number" placeholder="{{'anomaly.create.coordinate' | translate}}" name="x"  />
                <clr-control-error *clrIfError="'required'">{{('common.form.required' | translate)}}</clr-control-error>
                <clr-control-error *clrIfError="'min'">{{('common.form.min' | translate:'{value:500}')}}</clr-control-error>
                <clr-control-error *clrIfError="'max'">{{('common.form.max' | translate:'{value:1000}')}}</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">{{('common.form.decimal' | translate:'{value:2}')}}</clr-control-error>
            </clr-input-container>
        

            <clr-input-container>
                <label>y</label>
                <input id="y-form" formControlName="y" clrInput type="number" placeholder="{{'anomaly.create.coordinate' | translate}}" name="y" />
                <clr-control-error *clrIfError="'required'">{{('common.form.required' | translate)}}</clr-control-error>
                <clr-control-error *clrIfError="'min'">{{('common.form.min' | translate:'{value:0}')}}</clr-control-error>
                <clr-control-error *clrIfError="'max'">{{('common.form.max' | translate:'{value:500}')}}</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">{{('common.form.decimal' | translate:'{value:2}')}}</clr-control-error>
            </clr-input-container>


            <clr-input-container>
                <label>z</label>
                <input id="z-form" formControlName="z" clrInput type="number" placeholder="{{'anomaly.create.coordinate' | translate}}" name="z" />
                <clr-control-error *clrIfError="'required'">{{('common.form.required' | translate)}}</clr-control-error>
                <clr-control-error *clrIfError="'min'">{{('common.form.min' | translate:'{value:-1000}')}}</clr-control-error>
                <clr-control-error *clrIfError="'max'">{{('common.form.max' | translate:'{value:1000}')}}</clr-control-error>
                <clr-control-error *clrIfError="'pattern'">{{('common.form.decimal' | translate:'{value:2}')}}</clr-control-error>
            </clr-input-container>

            <clr-select-container>
                <label>{{'anomaly.create.defaultType' | translate}}</label>
                <select id="default-type-form" formControlName="defaultType" clrSelect name="defaultType">
                    <option value="Peeling">{{'anomaly.create.peeling' | translate}}</option>
                    <option value="Porosity">{{'anomaly.create.porosity' | translate}}</option>
                    <option value="Crack">{{'anomaly.create.crack' | translate}}</option>
                </select>
                <clr-control-error *clrIfError="'required'">{{('common.form.required' | translate)}}</clr-control-error>
            </clr-select-container>

            <clr-textarea-container>
                <label>{{'anomaly.create.comment' | translate}}</label>
                <textarea id="comment-form" formControlName="comment" clrTextarea  name="comment"></textarea>
            </clr-textarea-container>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" (click)="onCancel(false)" type="button">{{'common.modal.cancel' | translate}}</button>
        <button class="btn btn-primary" [clrLoading]="submitBtnState" (click)="submit()" [disabled]="!anomalyForm.valid" [clrLoading]="submitBtnState" type="submit">{{'common.modal.submit' | translate}}</button>
    </div>
</clr-modal>
