<div class="clr-row clr-align-items-center">
    <div class="clr-col-2">
    </div>
    <div class="clr-col">
        <clr-icon shape="wrench" style="width: 300px; height: 300px; text-align: center;"></clr-icon>
    </div>   
    <div class="clr-col-4">
        <span class="title">{{'maintenance.message' | translate}}</span>
    </div>
        <div class="clr-col-2">
    </div>
</div>


        
