<header class="header header-6">
    <div class="branding">
         <span class="title">Anomalies</span>
    </div>
  

    <div class="header-actions">
        <a role="button" (click)="isCreateAnomalyModalOpen = true;" class="nav-link nav-icon" aria-label="settings">
            <clr-icon shape="plus-circle"></clr-icon>
        </a>
    </div>
</header>

<app-modal-create-anomaly [isOpen]="isCreateAnomalyModalOpen" (onClose)="onCloseCreateModal($event)"></app-modal-create-anomaly>


