<div class="main-container">
    <header class="header header-6">
        <!-- Header with logo -->
        <div class="branding">
            <a href="/home" class="nav-link">
                <clr-icon shape="cloud"></clr-icon>
            <span class="title">Overwatch</span>
        </a>
        </div>

        <!-- Header actions -->
        <div class="header-actions">
            <a role="button" (click)="logout()" class="nav-link nav-text">
                {{'home.logout' | translate}}
            </a>

            <clr-dropdown id="language-conf">
                <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="language"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a role="button" (click)="switchLang('fr')" clrDropdownItem>FR</a>
                    <a role="button" (click)="switchLang('en')" clrDropdownItem>EN</a>
                </clr-dropdown-menu>
            </clr-dropdown>

            <clr-dropdown id="maintenace-conf" *ngIf="isAdmin">
                <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                    <clr-icon shape="wrench"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a role="button" (click)="changeMaintenaceStatus(true)" clrDropdownItem>{{'home.on' | translate}}</a>
                    <a role="button" (click)="changeMaintenaceStatus(false)" clrDropdownItem>{{'home.off' | translate}}</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
        
        
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group">
                    <input id="raport*nav" type="checkbox">
                    <label for="rapport-label">{{'home.sidenav.report' | translate}}</label>
                    <ul class="nav-list">
                        <li routerLinkActive="active"><a routerLink="/home/anomaly" class="nav-link">{{'home.sidenav.anomaly' | translate}}</a></li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</div>